@model IdentityServer4.Admin.ViewModels.Role.RoleViewModel
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" autocomplete="false" type="text"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Description</label>
            <input asp-for="Description" class="form-control" autocomplete="false" type="text"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>