@model IdentityServer4.Admin.ViewModels.IdentityResource.CreateIdentityResourceViewModel

@section breadcrumb{
    <li >
        <a href="#">Create Identity Resource</a>
    </li>
}

@section header{
    Create Identity Resource<small v-text="moduleDescription"></small>
}

<div class="col-xs-12">
    <div class="box">
        <form action="/identity-resource/create?returnUrl=@ViewData["ReturnUrl"]" method="post">
            @await Html.PartialAsync("_ValidationSummary")
            @await Html.PartialAsync("_Information")
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Name</label>
                            <input asp-for="Name" class="form-control" autocomplete="false" type="text">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>DisplayName</label>
                            <input asp-for="DisplayName" class="form-control" autocomplete="false" type="text">
                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Description</label>
                            <input asp-for="Description" class="form-control" autocomplete="false" type="text">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>User Claims</label>
                            <input asp-for="UserClaims" class="form-control" autocomplete="false" type="text">
                            <span asp-validation-for="UserClaims" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Enabled</label>
                            <select asp-for="Enabled" class="form-control select2" style="width: 100%;">
                                <option value="True" selected="selected">是</option>
                                <option value="False">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>SIDD</label>
                            <select asp-for="ShowInDiscoveryDocument" class="form-control select2" style="width: 100%;">
                                <option value="True" selected="selected">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Emphasize</label>
                            <select asp-for="Emphasize" class="form-control select2" style="width: 100%;">
                                <option value="True" selected="selected">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Required</label>
                            <select asp-for="Required" class="form-control select2" style="width: 100%;">
                                <option value="True" selected="selected">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <button type="submit" class="btn btn-default btn-sm  btn-flat">Submit</button>
            </div>
        </form>
    </div>
    <!-- /.box -->
</div>
@section scripts
{
    <script>
        $(function() {
            app.activeMenu('IdentityResource');
        })
    </script>
}
