@model IdentityServer4.Admin.ViewModels.IdentityResource.IdentityResourceViewModel
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" autocomplete="false" type="text"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>DisplayName</label>
            <input asp-for="DisplayName" class="form-control" autocomplete="false" type="text"/>
            <span asp-validation-for="DisplayName" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Description</label>
            <textarea style="height: 100px;" asp-for="Description" class="form-control" autocomplete="false" type="text"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>User Claims<small class="text-muted"> split by space</small></label>
            <textarea style="height: 100px;" asp-for="UserClaims" class="form-control" autocomplete="false" type="text"></textarea>
            <span asp-validation-for="UserClaims" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Enabled</label>
            <select asp-for="Enabled" class="form-control select2" style="width: 100%;">
                <option value="True" selected="selected">True</option>
                <option value="False">False</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>ShowInDiscoveryDocument</label>
            <select asp-for="ShowInDiscoveryDocument" class="form-control select2" style="width: 100%;">
                <option value="True" selected="selected">True</option>
                <option value="False">False</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Emphasize</label>
            <select asp-for="Emphasize" class="form-control select2" style="width: 100%;">
                <option value="True" selected="selected">True</option>
                <option value="False">False</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Required</label>
            <select asp-for="Required" class="form-control select2" style="width: 100%;">
                <option value="True" selected="selected">True</option>
                <option value="False">False</option>
            </select>
        </div>
    </div>
</div>