@using IdentityServer4.Admin.Infrastructure
@inject AdminOptions Options;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @if (IsSectionDefined("title"))
    {
        @await RenderSectionAsync("title")
    }
    else
    {
        <title>@Options.SiteName</title>
    }
    @await Html.PartialAsync("_GlobalCss")
    @if (IsSectionDefined("css"))
    {
        @await RenderSectionAsync("css")
    }
</head>
<body>
@RenderBody()
<!-- ./wrapper -->
@await Html.PartialAsync("_GlobalScripts")
@if (IsSectionDefined("scripts"))
{
    @await RenderSectionAsync("scripts", true)
}
<!-- Optionally, you can add Slimscroll and FastClick plugins.
Both of these plugins are recommended to enhance the
user experience. -->
</body>
</html>