<!-- Sidebar Menu -->
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    @if ((bool) ViewData["IsAdmin"])
    {
        <li class="active" id="MenuHome">
            <a href="/">
                <i class="fa fa-area-chart"></i><span>Home</span>
            </a>
        </li>
        <li id="MenuBasic" class="treeview menu-open">
            <a>
                <i class="fa fa-book"></i><span>Basic</span>
            </a>
            <ul class="treeview-menu" style="display: block;">
                <li id="MenuProfile">
                    <a href="/account/profile"><i class="fa fa-circle-o"></i>Profile</a>
                </li>
                <li id="MenuChangePassword">
                    <a href="/account/change-password"><i class="fa fa-circle-o"></i>Change password</a>
                </li>
            </ul>
        </li>
        <li id="MenuRole">
            <a href="/role">
                <i class="fa fa-graduation-cap"></i><span>Role</span>
            </a>
        </li>
        <li id="MenuUser">
            <a href="/user">
                <i class="fa fa-user"></i><span>User</span>
            </a>
        </li>
        <li id="MenuIdentityResource">
            <a href="/identity-resource">
                <i class="fa fa-book"></i><span>Identity Resource</span>
            </a>
        </li>
        <li id="MenuApiResource">
            <a href="/api-resource">
                <i class="fa fa-book"></i><span>API Resource</span>
            </a>
        </li>
        <li id="MenuClient">
            <a href="/client">
                <i class="fa fa-desktop"></i><span>Client</span>
            </a>
        </li>
        <li id="MenuGrant">
            <a href="/grant">
                <i class="fa fa-history"></i><span>Grant</span>
            </a>
        </li>
        <li id="MenuDiagnostic">
            <a href="/diagnostic">
                <i class="fa fa-flask"></i><span>Diagnostic</span>
            </a>
        </li>
    }
    else
    {
        <li id="MenuBasic" class="treeview menu-open">
            <a>
                <i class="fa fa-book"></i><span>Basic</span>
            </a>
            <ul class="treeview-menu" style="display: block;">
                <li id="MenuProfile">
                    <a href="/account/profile"><i class="fa fa-circle-o"></i>Profile</a>
                </li>
                <li id="MenuChangePassword">
                    <a href="/account/change-password"><i class="fa fa-circle-o"></i>Change password</a>
                </li>
            </ul>
        </li>
        <li id="MenuGrant">
            <a href="/grant">
                <i class="fa fa-history"></i><span>Grant</span>
            </a>
        </li>
        <li id="MenuDiagnostic">
            <a href="/diagnostic">
                <i class="fa fa-flask"></i><span>Diagnostic</span>
            </a>
        </li>
    }
</ul>
<!-- /.sidebar-menu -->