@using IdentityServer4.Admin.Infrastructure
@using Microsoft.Extensions.Hosting
@model IdentityServer4.Admin.ViewModels.ErrorViewModel
@inject IHostEnvironment Host
@inject AdminOptions Options;
@{
    Layout = "_FrameworkLayout";
    var errorDescription = Host.IsDevelopment() ? Model?.Error?.ErrorDescription : null;
    var requestId = Model?.Error?.RequestId;
}

@section title{
    <title>@Options.SiteName | 错误</title>
}

<section class="content">

    <div class="error-page">
        <h2 class="headline text-red">
            <i class="fa fa-warning text-red"></i>
        </h2>

        <div class="error-content" style="padding-top: 10px;">
            <h4>
                <label>Description</label>
                <input value="@errorDescription" class="form-control" style="color:red"/>
            </h4>
            <h4>
                <label>RequestId</label>
                <input value="@requestId" class="form-control" style="color:red"/>
            </h4>
            <p>

            </p>
        </div>
    </div>
    <!-- /.error-page -->

</section>