@model IdentityServer4.Admin.ViewModels.User.CreateUserViewModel

@section breadcrumb{
    <li >
        <a href="#">Create User</a>
    </li>
}

@section header{
    Create User<small v-text="moduleDescription"></small>
}


<div class="col-xs-12">
    <div class="box">
        <form action="/user/create?returnUrl=@ViewData["ReturnUrl"]" method="post">
            @await Html.PartialAsync("_ValidationSummary")
            @await Html.PartialAsync("_Information")
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>UserName</label>
                            <input asp-for="UserName" class="form-control" autocomplete="false" type="text"/>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Email</label>
                            <input asp-for="Email"
                                   class="form-control" autocomplete="false" type="text"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Password</label>
                            <input asp-for="Password"
                                   class="form-control" autocomplete="false" type="password"/>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>GivenName</label>
                            <input asp-for="GivenName"
                                   class="form-control" autocomplete="false" type="text"/>
                            <span asp-validation-for="GivenName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>FamilyName</label>
                            <input asp-for="FamilyName"
                                   class="form-control" autocomplete="false" type="text"/>
                            <span asp-validation-for="FamilyName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>NickName</label>
                            <input asp-for="NickName"
                                   class="form-control" autocomplete="false" type="text"/>
                            <span asp-validation-for="NickName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Slogan</label>
                        <input asp-for="Slogan"
                               class="form-control" autocomplete="false" type="text"/>
                        <span asp-validation-for="Slogan" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>PhoneNumber</label>
                            <input asp-for="PhoneNumber"
                                   class="form-control" autocomplete="false" type="text"/>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>OfficePhone</label>
                            <input asp-for="OfficePhone"
                                   class="form-control" autocomplete="false" type="text"/>
                            <span asp-validation-for="OfficePhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Location</label>
                            <input asp-for="Location"
                                   class="form-control" autocomplete="false" type="text"/>
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Sex</label>
                            <select asp-for="Sex" class="form-control select2" style="width: 100%;">
                                <option value="Male" selected="selected">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Title</label>
                            <input asp-for="Title"
                                   class="form-control" style="width: 100%;"/>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>WebSite</label>
                            <input type="url" asp-for="WebSite"
                                   class="form-control" style="width: 100%;"/>
                            <span asp-validation-for="WebSite" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <button type="submit" class="btn btn-default btn-sm  btn-flat">Submit</button>
            </div>
        </form>
    </div>
    <!-- /.box -->
</div>

@section scripts
{
    <script>
        $(function() {
            app.activeMenu('User');
        })
    </script>
}