@model IdentityServer4.Admin.ViewModels.User.SetPasswordViewModel

@section breadcrumb{
    <li >
        <a href="#">Set password</a>
    </li>
}

@section header{
    Set password<small v-text="moduleDescription"></small>
}

<div class="col-xs-12">
    <form asp-controller="User" asp-action="SetPassword" method="post">
        <div class="box">
            @await Html.PartialAsync("_ValidationSummary")
            @await Html.PartialAsync("_Information")
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>NewPassword</label>
                            <input asp-for="NewPassword" class="form-control" autocomplete="false" type="password"/>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>ConfirmPassword</label>
                            <input asp-for="ConfirmPassword" class="form-control" autocomplete="false" type="password"/>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label style="opacity: 0">更新</label>
                            <button type="submit" class="form-control btn btn-default btn-sm  btn-flat">更新</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </form>
</div>

@section scripts
{
    <script>
        $(function() {
            app.activeMenu('User');
        })
    </script>
}