@model IdentityServer4.Admin.ViewModels.Account.ChangePasswordViewModel

@section header{
    Change password<small v-text="moduleDescription"></small>
}

<div class="col-xs-12">
    <div class="box">
        <div class="box-body">
            @await Html.PartialAsync("_ValidationSummary")
            <form asp-controller="Account" asp-action="ChangePassword">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Current password</label>
                            <input asp-for="OldPassword" class="form-control" autocomplete="false" type="password">
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>New password</label>
                            <input asp-for="NewPassword" class="form-control" autocomplete="false" type="password">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Confirm password</label>
                            <input asp-for="ConfirmPassword" class="form-control" autocomplete="false" type="password">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label style="opacity: 0">&</label>
                            <button type="submit" class="form-control btn btn-default btn-sm  btn-flat">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.box -->
</div>

@section scripts{
    <script>
        $(function() {
            app.activeMenu('Basic', 'ChangePassword');
        })
    </script>
}