@using IdentityServer4.Admin.Infrastructure
@model IdentityServer4.Admin.ViewModels.Account.LoggedOutViewModel
@inject AdminOptions Options;

@{
    Layout = "_FrameworkLayout";
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

@section title
{
    <title>@Options.SiteName | 登出</title>
}

<div class="login-box">
    <h1>
        退出成功
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            点击 <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">@Model.ClientName</a> 返回
        </div>
    }
    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
    @if (!Model.AutomaticRedirectAfterSignOut)
    {
        <div>
            点击 <a class="PostLogoutRedirectUri" href="/">用户中心</a> 返回
        </div>
    }
</div>


@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <environment names="Development">
            <script src="~/js/signout-redirect.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/js/signout-redirect.min.js" asp-append-version="true"></script>
        </environment>
    }
}