@using IdentityServer4.Admin.Infrastructure
@model IdentityServer4.Admin.ViewModels.Account.LoginViewModel
@inject AdminOptions Options;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Options.SiteName | 登录</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/lib/ionicons/dist/css/ionicons.min.css" asp-append-version="true">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/admin-lte/dist/css/AdminLTE.min.css" asp-append-version="true">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/iCheck/square/blue.css" asp-append-version="true">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body {
            font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-size: 12px;
        }
    </style>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a>
            <b>@Options.SiteName</b>
        </a>
    </div>

    <!-- /.login-logo -->
    <div class="login-box-body">
        <form asp-route="Login">
            @await Html.PartialAsync("_ValidationSummary")
            <input type="hidden" asp-for="ReturnUrl"/>
            <div class="form-group has-feedback">
                <input asp-for="Username" type="text" class="form-control" placeholder="用户名">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Password" type="password" class="form-control" placeholder="密码">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input asp-for="RememberLogin" type="checkbox"> 记住我
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button name="button" value="login" type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        @*<div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign in using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign in using
                Google+
            </a>
        </div>*@
        <!-- /.social-auth-links -->

        <br>
        <a href="/Account/ForgotPassword">忘记密码</a>
        <br>
        @if (Options.OpenRegister)
        {
            <a href="/Account/Register">注册</a>
            <br>
        }
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<!-- Bootstrap -->
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
<!-- iCheck -->
<script src="~/lib/admin-lte/plugins/iCheck/icheck.min.js" asp-append-version="true"></script>
<environment names="Development">
    <script src="~/js/login.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/login.min.js" asp-append-version="true"></script>
</environment>
</body>
</html>